@import "./variables.css";

body {
  display: flex;
  flex-direction: column;
}

footer {
  flex: 1 0 auto;
}

.card {
  box-shadow: rgb(219, 219, 219) 2px 1px 5px 2px;
}

.product-link-text,
.overlay-text {
  top: 91%;
}

.img-fluid {
  height: 540px;
  object-fit: none;
  filter: brightness(110%);
  object-position: 79% 99%;
}

.top-product {
  /* margin-bottom: 4rem; */
  position: relative;
}

.cat-h2 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 3rem;
  color: var(--dark);
}

i {
  font-size: 0.8rem;
  margin-left: 0.4rem;
}

.product-banner {
  background-color: var(--main-bg-medium);
  margin-top: 0;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.product-intro {
  position: absolute;
  /* top: 15%; */
  top: 8%;
  left: 6%;
  z-index: 5;
  color: white;
  max-width: 450px;
  line-height: 1.5;
}

.product-intro h2 {
  margin-bottom: 1.5rem;
  line-height: 1;
}

.light-name {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
}

/* .text {
  line-height: 1.5;
} */

.new-in {
  color: var(--active-link);
  font-weight: 600;
}

/* .icons {
  text-align: center;
} */

.icon {
  height: 25px;
  margin-top: 10px;
}

.line {
  border-bottom: var(--dark) solid thin;
  height: 10px;
  margin-bottom: 15px;
}

/* .wrap-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.product-icons-container {
  text-align: center;
  margin-top: 4rem;
}

.product-icons-container h1 {
  margin-bottom: 2rem;
}

/* .product-icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
} */

/* .line {
  border: var(--dark) solid thin;
  height: 50px;
  margin-left: 2rem;
  margin-right: 2rem;
} */
/* 
.icons {
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
} */

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icons:hover {
  scale: 1.03;
}

/* .icons p {
  margin: 0;
} */

h1 {
  font-weight: 700;
}

.product-description {
  background: white;
  /* height: 100px; */
  margin-top: 1rem;
  text-align: center;
  position: relative;
  padding: 1rem;
}

.product-container_item {
  position: relative;
}

.product-link-text__arrow {
  position: absolute;
  width: 20px;
  left: 48%;
  top: 22rem;
  z-index: 10;
}

.price {
  font-weight: 700;
}

.product figure img,
.product-img,
figure {
  height: auto;
}

.card:hover {
  box-shadow: 2px 1px 5px 2px rgba(134, 141, 138, 0.25);
}

.item-furniture:hover .overlay,
.item-trending:hover .overlay,
.product-container_item:hover .overlay {
  opacity: 1;
  box-shadow: none;
}

#product-btn {
  background-color: var(--coral);
  box-shadow: none;
}

#product-btn:hover {
  background-color: var(--active-link);
}

.intro-desktop {
  display: none;
}

.product-btn-mobile {
  position: relative;
  width: 100%;
}

.mobile-heading {
  display: none;
}

#mobile-btn {
  position: absolute;
  right: 0;
  left: 0;
  top: -20px;
  margin: auto;
  max-width: 170px;
  background-color: var(--coral);
  /* height: 50px; */
  /* line-height: 2; */
}

#mobile-btn:hover {
  background-color: var(--active-link);
}

.product-link-text__arrow {
  display: none;
}

.product-btns-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-btn,
.more-btn {
  width: 90px;
  line-height: 1;
  margin: 0.5rem;
  margin-bottom: 2rem;
}

.buy-btn {
  /* background-color: var(--coral); */
  background-color: black;
  color: white;
}

.buy-btn:hover {
  background-color: var(--active-link);
}

.more-btn:hover {
  color: var(--active-link);
}

@media only screen and (min-width: 800px) {
  .product-link-text__arrow {
    display: block;
    top: 24rem;
  }

  .product-icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 6rem;
  }

  .wrap-icons {
    display: flex;
  }

  .line {
    border-bottom: unset;
    border: var(--dark) solid thin;
    height: 50px;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .product-icons-container h1 {
    margin-bottom: unset;
  }

  .icons p {
    margin: 0;
  }

  .icons {
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .icon {
    height: 25px;
    margin-top: unset;
  }

  .top-product {
    margin-bottom: 4rem;
  }

  .img-fluid {
    object-position: 93% 99%;
  }
}

@media only screen and (min-width: 990px) {
  .buy-btn,
  .more-btn {
    margin: 0;
    margin-bottom: 2rem;
  }

  .mobile-heading {
    display: block;
    position: absolute;
    top: -10rem;
    left: 3rem;
    line-height: 1;
  }

  #mobile-btn {
    top: -4.5rem;
    left: -42rem;
  }

  .product-link-text__arrow {
    /* top: 33rem; */
    top: 15rem;
  }
}

@media only screen and (min-width: 1200px) {
  .intro-desktop {
    display: block;
  }
  .img-fluid {
    width: 100%;
    object-fit: cover;
    filter: brightness(110%);
    object-position: unset;
  }

  #mobile-btn,
  .mobile-heading {
    display: none;
  }

  .product-link-text__arrow {
    top: 18rem;
  }

  .buy-btn,
  .more-btn {
    margin: 0.5;
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 1400px) {
  .product-link-text__arrow {
    top: 22rem;
  }
}
