:root {
  --main-bg-light: #f2f0eb;
  --main-bg-medium: #cbd3d0;
  --active-link: #ce9b6f;
  --secondary-button: #ead5c8;
  --primary-button: #f08170;
  --banner-primary: #84a9ac;
  --dark: #2c2926;
  --light-grey: #fcfcfc;
}
